<div class="mdl-grid" style="padding-top: 50px">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <!-- Wide card with share menu button -->
        <div class="mdl-card mdl-shadow--2dp" style="width: 750px">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Materials</h2>
            </div>
            <div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric ">Material</th>
                        <th class="mdl-data-table__header--sorted-ascending">Quantity</th>
                        <th>Unit price</th>
                        <th>Tax</th>
                        <th>Nnn</th>
                        <th>Tax</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                        <td>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input"
                                       type="text"
                                       pattern="-?[0-9]*(\.[0-9]+)?"
                                       id="row0Column0">
                                <label class="mdl-textfield__label"
                                       for="row0Column0">...</label>
                                <span class="mdl-textfield__error">Invalid input!</span>
                            </div>
                        </td>
                        <td> R2.90</td>
                        <td> R1.14</td>
                        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                        <td>250</td>
                        <td> R2.90</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                        <td>50</td>
                        <td>R1.25</td>
                        <td>R1.14</td>
                        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)
                        </td>
                        <td>10</td>
                        <td>R12.35</td>
                        <td> R1.14</td>
                        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)
                        </td>
                        <td>10</td>

                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">None</td>
                        <td>100</td>
                        <td>R120.35</td>
                        <td> R10.14</td>
                        <td class="mdl-data-table__cell--non-numeric">None</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <!-- Right aligned menu below button -->
                    <i class="material-icons">chevron_left</i>
                </button>
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <!-- Right aligned menu below button -->
                    <i class="material-icons">chevron_right</i>
                </button>
            </div>
            <div class="mdl-card__menu">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"
                     style="padding-top: 0">
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                           for="table-search-text-field">
                        <i class="material-icons" style="padding-top: 3px">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder" style="padding-top: 0">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="table-search-text-field">
                    </div>
                </div>
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <!-- Right aligned menu below button -->
                    <i class="material-icons">autorenew</i>
                </button>
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col"></div>
</div>